.fullScreen {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 75vh;
}

.isButton {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
