.forgot {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;

	&-container {
		background: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: 100%;
	}

	.goBack {
		background-color: transparent;
		position: absolute;
		top: 1rem;
		left: 1rem;
		width: 2rem;
		height: 2rem;
	}
}

@media (min-width: 992px) {
	.forgot {
		&-container {
			width: 55%;
		}
	}

	.goBack {
		svg path {
			fill: #fff;
		}
	}
}
